.fullpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorimg {
  width: 20%;
}
.errorheader {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 100px;
  margin-top: -50px;
  font-style: normal;
  color: #f05323;
}
@media screen and (max-width: 430px) {
  .errorimg {
    width: 30%;
  }
  .errorheader {
    font-size: 70px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 375px) {
  .errorimg {
    width: 40%;
  }
  .errorheader {
    font-size: 60px;
    margin-top: -30px;
  }
}
