.repos {
  background-color: rgba(240, 83, 35, 0.5);
  padding: 20px 100px 20px 100px;
}
.repo_header {
  color: #fff;
  font-weight: 600px;
  font-size: 50px;
  font-family: "Ojuju", sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
u {
  text-decoration-color: #f05323;
}
span {
  color: #013440;
}
.card {
  background-color: #efd9b4;
  width: 350px;
  border-radius: 20px;
  border: 1px solid #013440;
  padding: 20px;
  cursor: pointer;

  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.5), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}
.repoheader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #013440;
}
.Language,
.date,
.visibility {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #f05323;
}

.repo-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 40px;
  row-gap: 20px;
  justify-content: center;
}
.buttondiv {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.page_buttons {
  background-color: #013440;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
}
