@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  background-color: #e3e3e3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fullpage {
  height: 100%;
}
.repodetail-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.repo-name {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 40px;
  margin-left: -3px;
  margin-bottom: 5px;
  line-height: 50px;
  font-style: normal;
  color: #fff;
  /* text-decoration: underline; */
}
.repo_card {
  border: 2px solid #013440;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(240, 83, 35, 0.5);
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.5), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}
